body {
  margin: 0; /* Távolítsd el az alapértelmezett margót */
  height: 100vh; /* Az oldal teljes magassága */
  display: flex; /* Flexbox használata az elrendezéshez */
}

.wall {
  flex: 1; /* A bal oldal kitölti a rendelkezésre álló hely felét */
  background-color: blue; /* Kék szín */
  color: white; /* Fehér szöveg */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  left: 0;
  right: 50%;
  height: 50vh;
  position: relative;
}

.other {
  flex: 1; /* A jobb oldal kitölti a rendelkezésre álló hely felét */
  background-color: red; /* Piros szín */
  color: white; /* Fehér szöveg */
  display: flex;
  justify-content: center;
  align-items: center;
  top:50%;
  left: 0;
  right: 50%;
  height: 50vh;
  width: 50%;
  position: relative;
}
h1{ 
  background-color: white;;
}