<div class="tips">
    <h1 style="text-align: center;">Ötletek</h1>
<h3>Nem tudod, hogyan kell feldobnod a lakásodat? Segítünk néhány egyszerű trükkel.</h3>
<p>Lámpa: Egy jól megválasztott lámpa és ahhoz választott izzó sokat tud dobni egy szobán. </p>
<p style=" background-color: #FFF2E1;">Fal színe: Ha felújítást végzel, és bátor vagy, akkor lehet a falakat egy jó színre festeni, amivel személyiséget és színt is lehet vinni egy szobába. De figyelni kell, hogy a szobában lévő tárgyak illeszkedjenek színben a falhoz, hogy ne legyen túl sok erős szín.</p>
<p>Dekorációk színe: Ha adott a fal színe a bútorokkal, akkor dekorációkkal is rakhatsz egyéniséget a szobákba. Például egy váza, párna, festmény vagy akár egy kis szobor.</p>
<p style=" background-color: #FFF2E1;">Tárolás: Ha túl sok dolog van egy szobában, az is tönkreteheti az összhatást. Az ilyen esetekre nagyon jó lehet polcokat felszerelni vagy kosarakat venni, amik illenek a szoba színeihez.</p>
<p>Növények: Akár tud vigyázni egy növényre, akár nem, egy kis zöld mindig fel tudja dobni a teret. Rengeteg nagyon szép virág van, amiből lehet választani. Vannak strapabíróbbak is, de ha az is sok, rengeteg műnövény van, amiből lehet választani. </p>

</div>

