<div class="container">
    <h1>Üdvözöllek a Lakásdekor webshop-ban</h1>
    <p>Segítünk megkeresni a legjobb kiegészítőt a lakásához. </p>
    <button mat-flat-button color="#D1BB9E"  (click)="changePage()"><mat-icon>shopping_cart</mat-icon>Webshop</button>
    <button mat-flat-button color="#D1BB9E"  [routerLink]="['/tips']"><mat-icon>assistant_navigation</mat-icon>Ötletek</button>
    
    @if (!isLoggedIn) {
      <button mat-flat-button color="#D1BB9E" [routerLink]="['/login']" ><mat-icon>login</mat-icon>Bejelentkezés</button>
    }
    
    @if (isLoggedIn) {
      <button mat-flat-button color="#D1BB9E" [routerLink]="['/profile']" ><mat-icon>account_circle</mat-icon> Profilom</button>
    }
</div>
